@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
	background: #000;
	overflow-x: hidden;
	min-height: 100vh;
	position: relative;
}

body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background:  #3BC3D3;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	width: 1366px;
	height: 1300px;
	margin: auto;
}

.button {
	width: 232px;
	height: 60px;
	box-sizing: border-box;
	outline: 3px solid rgb(59, 195, 211);
	border-radius: 10px;
	backdrop-filter: blur(17.13px);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.1rem;
	margin: 30px 0 0 0;
}

.button:after {
	content: "";
	width: 232px;
	height: 60px;
	backdrop-filter: blur(17.13px);
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px 0 0 10px;
	z-index: -2;
	transition: all .3s ease-out;	
}

.button:hover:after {
	margin: 0;
	box-shadow: 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4), 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4);
}

.bring {
	width: 900px;
	height: 400px;
	filter: blur(170px);
	background: rgba(255, 255, 255, .15);
	opacity: 0.6;
	position: relative;
	margin: auto;
	top:-200px;
	left: 0;
	right: 0;
	z-index: -3;
}

.button100 {
	width: 100%;
	height: 52px;
	box-sizing: border-box;
	outline: 3px solid rgb(59, 195, 211);
	border-radius: 10px;
	backdrop-filter: blur(17.13px);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.1rem;
	margin: 30px 0 0 0;
}

.button100:after {
	content: "";
	width: 100%;
	height: 52px;
	backdrop-filter: blur(17.13px);
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px 0 0 10px;
	z-index: -2;
	transition: all .3s ease-out;	
}

.button100:hover:after {
	margin: 0;
	box-shadow: 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4), 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4);
}


.button_black {
	width: 300px;
	height: 60px;
	box-sizing: border-box;
	outline: 3px solid rgb(59, 195, 211);
	border-radius: 10px;
	backdrop-filter: blur(17.13px);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.1rem;
}

.button_black:after {
	content: "";
	width: 300px;
	height: 60px;
	backdrop-filter: blur(17.13px);
	background: rgba(0, 0, 0, .9);
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px 0 0 10px;
	z-index: -2;
	transition: all .3s ease-out;	
}

.button_black:hover:after {
	margin: 0;
	box-shadow: 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4), 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4);
}

/*____________________________________*/

.one {
	animation-delay: 0.1s;
}
.two {
	animation-delay: 0.2s;
}
.three {
	animation-delay: 0.3s;
}
.four {
	animation-delay: 0.4s;
}
.five {
	animation-delay: 0.5s;
}
.six {
	animation-delay: 0.6s;
}

.container {  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
/*	grid-template-rows: 1fr 1fr 1fr;*/
gap: 24px 24px;
grid-auto-flow: row;
grid-template-areas:
"one two three"
"four five six"
". . .";
transform: scale(0.95);
margin: 100px 0;
}

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }


.box {
	box-sizing: border-box;
	border: 2px solid rgb(40, 40, 40);
	background: rgb(10, 11, 10);
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 48px 56px;
	cursor: pointer;
	transition: all .3s ease-out;
}

.box:hover {
	box-sizing: border-box;
	border: 2px solid rgb(59, 195, 211);
	box-shadow: 0px 0px 20px 0px rgba(41, 142, 174, 0.8),0px 0px 20px 0px rgba(98, 118, 224, 0.2),0px 0px 50px 0px rgba(182, 117, 222, 0.4);
	background: rgb(0, 0, 0);
	transform: translateY(-3px);
}

.box:hover .number {
	background: url(img/oneH.svg) no-repeat center center;
	transform: scale(1.08);
}

.box:hover .number_two {
	background: url(img/twoH.svg) no-repeat center center;
	transform: scale(1.08);
}

.box:hover .number_three {
	background: url(img/threeH.svg) no-repeat center center;
	transform: scale(1.08);
}

.box:hover .txt {
	opacity: 1;
}

.txt {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	cursor: pointer;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.04rem;
	opacity: .4;
}

.number {
	width: 100%;
	height: 83px;
	margin: 0 0 32px 0;
	transition: all .3s ease-out;
	background: url(img/one.svg) no-repeat center center;
}

.number_two {
	width: 100%;
	height: 83px;
	margin: 0 0 32px 0;
	transition: all .3s ease-out;
	background: url(img/two.svg) no-repeat center center;
}

.number_three {
	width: 100%;
	height: 83px;
	margin: 0 0 32px 0;
	transition: all .3s ease-out;
	background: url(img/three.svg) no-repeat center center;
}

.box_title {
	font-size: 20px;
	color: white;
	opacity: .4;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	letter-spacing: 0.03rem;
}

.box:hover .box_title {
	opacity: 1;
}

.box_logo {
	width: 45px;
	height: 45px;
	background: url(img/p_log.svg) no-repeat center center;
	transition: all .3s ease-out;
}

.box:hover .box_logo {
	background: url(img/p_logH.svg) no-repeat center center;
	transform: scale(1.12);
}

/*_______________________________*/

.first_container {  
	display: grid;
	grid-template-columns: 0.7fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	margin: 0 0 72px 0;
	grid-auto-flow: row;
	grid-template-areas:
	"pip1 pip2";
}

.pip1 { 
	grid-area: pip1;
	width: 460px;
	height: 460px;
	background: url(img/bg_pipal_black.svg) no-repeat center center;
	background-size: 590px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .05s ease-out;
	padding: 0 24px 0 24px;
}

.pip1:hover {
	width: 460px;
	height: 460px;
	background: url(img/bg_pipal_blackH.svg) no-repeat center center;
	background-size: 590px;
}

.pip1 img {
	width: 280px;
}

.pip2 {
	grid-area: pip2;
	display: grid;
	align-items: center;
	align-content: center;
	padding: 52px;
}

h2 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	letter-spacing: 0.03rem;
	font-size: 40px;
	color: white;
	margin: 0;
	text-transform: uppercase;
}

.body_text {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 160%;
	color: white;
}

/*____________________________________________*/

.full-width_container {
	width: 100%;
	height: 550px;
	background: url(img/pattern_item.png) repeat;
	margin: 0 0 130px 0;
	border-top: 2px solid #141414;
	border-bottom: 2px solid #141414;
}

.second_wrapper {
	width: 1366px;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
}

.second_container {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
	"prod1 prod2";
}
.mt-200 {
	margin-top: -430px;
}
.prod1 {
	grid-area: prod1;
    padding: 0 0 0 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod2 {
	height: 400px;
	grid-area: prod2;
	background: url(img/mrbg.svg) no-repeat center center;
	background-size: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .05s ease-out;
}

.prod2:hover {
	background: url(img/mrbgH.svg) no-repeat center center;
	background-size: 90%;
}

.logo_mrbond img {
	width: 175px;
	margin: -15px 40px 0 0;
}

/*_________________________________________*/


.item_container {
	transform: scale(0.96);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 24px 24px;
	grid-auto-flow: row;
	grid-template-areas:
	"item1 item1 item1 item2 item2 item2"
	"item3 item3 item4 item4 item5 item5";
}

.item_box {
	background: url(img/itembg.png) no-repeat center center;
	width: 100%;
	height: 330px;
	box-sizing: border-box;
	border: 2px solid rgb(40, 40, 40);
	cursor: pointer;
}
.item1-img {
	position: relative;
	margin: 37px 0 0 270px;
}

.item2-img {
	position: relative;
	margin: 50px 0 0 290px;
}

.item3-img {
	position: relative;
	margin: 55px 0 0 100px;
	transform: scale(0.95);
}

.item4-img {
	position: relative;
	margin: 39px 0 0 85px;
	transform: scale(0.95);
}

.item5-img {
	position: relative;
	margin: 58px 0 0 105px;
	transform: scale(0.95);
}

.item_title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;
}

h3 {
	font-family: "Inter", sans-serif;
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 30px 0 8px 0;
	letter-spacing: 0.1rem;
}

h4 {
	font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.05rem;
}

.item_title1 {
	display: flex;
	margin: -318px 0 0 40px;
	position: absolute;
	color: white;
	flex-direction: column;
}

.item_title2 {
	display: flex;
	margin: 10px 0 0 42px;
	position: absolute;
	color: white;
	flex-direction: column;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover {
	transform: scale(1.02);
	border: 2px solid rgb(59, 195, 211);
	box-shadow: 0px 0px 15px 0px rgba(41, 142, 174, 0.8),0px 0px 15px 0px rgba(98, 118, 224, 0.2),0px 0px 30px 0px rgba(182, 117, 222, 0.4);
}

.item1 { grid-area: item1; transition: all .3s ease-out; }

.item3 { grid-area: item3; transition: all .3s ease-out; }

.item2 { grid-area: item2; transition: all .3s ease-out; }

.item4 { grid-area: item4; transition: all .3s ease-out; }

.item5 { grid-area: item5; transition: all .3s ease-out; }


/*_____________________________________________________*/


.full-width_dealer {
	width: 100%;
	height: 360px;
	background: url(img/pattern_item.png) repeat;
	margin: -500px 0 130px 0;
	border-top: 2px solid #141414;
	border-bottom: 2px solid #141414;
}

.wrapper_dealer {
	width: 1366px;
	height: 360px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	"deal1 deal2";
	padding: 0 160px 0 160px;
}

.wrapper_dealer p {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 22px;
    line-height: 170%;
    font-style: italic;
    letter-spacing: 0.08rem;
	color: white;
	padding: 0px 132px 0px 0px;
}

.cta {
	width: 350px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #0A0B0A;
	box-shadow: 0px 0px 49px 0px #000;
	padding: 30px 62px 40px 62px;
	transition: all .3s ease-out;
}

.cta:hover {
	transform: translateY(-5px);
}

h6 {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.35rem;
	text-transform: uppercase;
	color: white;
	margin: 24px 0 0 0;
}

.cta_logo {
	width: 80px;
	height: auto;
}

.deal1 {
	grid-area: deal1;
	display:flex;
	align-items: center;
	justify-content:flex-end;
	padding: 0 104px 0 0;
}

.deal2 {
	grid-area: deal2;
	display:flex;
	align-items: center;
}


/*__________________________________________*/


.wrapper_info { 
	width: 1366px;
	height: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	"info1 info2"
	"info3 info4";
	padding: 0 160px 0 160px;
	align-items: center;
	margin: -130px auto;
}

.mb-70 {
	margin-bottom: 70px;
}

img.info_img {
	width: 90%;
	margin: 10px 0 0 -70px;
}

img.info_img2 {
	width: 65%;
	margin-left: 50px;
}

p.info_text, p.info_text_blue {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 160%;
	color: white;
	padding: 0 0 0 52px;
	margin: 12px 0 12px 0;
	transition: all .3s ease-out;
}

p.info_text:hover, p.info_text_blue:hover {
	transform: translateX(10px);
}

p.info_text:before {
	content: "";
	position: absolute;
	margin-left: -52px;
	width: 32px;
	height: 32px;
	background: url(img/bullit.svg) no-repeat center center;
}



p.info_text_blue:before {
	content: "";
	position: absolute;
	margin-left: -52px;
	width: 32px;
	height: 32px;
	background: url(img/bullit_blue.svg) no-repeat center center;
}

.mission {
	width: 87%;
	border: 1px solid #505050;
	border-radius: 8px;
	background:  url(img/itembg.png) no-repeat center center;
	padding: 24px 40px 18px 40px;
	margin-left: -50px;
}

.mb-32 {
	margin-bottom: 32px;
}

.info1 { grid-area: info1; }

.info2 { grid-area: info2; }

.info3 {
	grid-area: info3;
	margin-top: -50px;
}

.info4 {
	grid-area: info4;
	display: flex;
	flex-direction: column;
	margin-top: -50px;
}


/*_______________________________*/

.full-width_b2b {
	width: 100%;
	height: 400px;
	margin: 250px 0 100px 0;
}

.wrapper_b2b {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	border-top: 3px;
	width: 100%;
	height: 400px;
	border-top: 2px solid #141414;
	border-bottom: 2px solid #141414;
	background: url(img/b2b_bg.png)  fixed no-repeat center center, url(img/pattern_item.png) repeat fixed;
}

img.b2b_bg {
	width: 360px;
	margin-right: 110px;
}

/*_______________________________________*/



.full-width_footer {
	width: 100%;
	height: 496px;
	background: url(img/footer_map.png) no-repeat center center, url(img/pattern_item.png) repeat;
	border-top: 2px solid #141414;
}
.wrapper_footer {
	width: 1366px;
	height: 496px;
	margin: 30px auto;
}

.footer {
	width: 100%;
	height: 546px;
	position: absolute;
	margin-top: auto;
	bottom: 0;
	background: black;
	z-index: 100;
}
.footer_bottom {
	width: 100%;
	height: 80px;
	position: absolute;
	margin-top: auto;
	bottom: -10px;
	background: #0A0B0A;
	z-index: 100;
	border-top: 1px solid #282828;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*______________________________________________*/

header {
	position: fixed;
	width: 100%;
	z-index: 999;
	margin: auto;
}
.menu_container.scroll {
	margin-top: -120px;
}

.menu_container.backscroll {
	margin-top: -120px;
}

.menu_container.backscroll-bottom {
	margin-top: 0px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
	border-bottom: 1px solid #141414;
}

.header {
	width: 100%;
	height: 85px;
	display:  flex;
	align-items: center;
	justify-content: space-around;
	background: rgba(0, 0, 0, .8);
	backdrop-filter: blur(2px);
	transition: all .3s ease-out;
}

img.top_logo {
	width: 150px;
	height: auto;
	transition: all .3s ease-out;
	cursor: pointer;
}

img.top_logo:hover {
	transform: scale(1.05);
}

img.top_logo.scroll {
	width: 120px;
}

.header.scroll {
	height: 75px;
	border-bottom: 1px solid #141414;
}

.menu_container {
	width: 100%;
	height: 55px;
	background: rgba(10, 11, 10, .7);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
	backdrop-filter: blur(2px);
	transition: all .4s ease-out;
}

.menu_wrapper {
	width: 1366px;
	height: 55px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}

.menu_item {
	width: 100%;
	height: 55px;
	background: rgba(10, 11, 10, .5);
	color: rgba(255, 255, 255, .6);
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.07rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-out;
	cursor: pointer;
}

.menu_item:hover {
	color: white;
	background: rgba(80, 80, 80, .3);
	text-shadow: 1px 1px 0 BLACK;
}

.menu_item_catalog {
	width: 100%;
	height: 55px;
	background: #0E0E0E;
	border: 1px solid #141514;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 24px 0 24px;
	justify-content: space-evenly;
	color: rgba(255, 255, 255, .6);
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.07rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	transition: all .3s ease-out;
	cursor: pointer;
	order: 1;
}
.menu_item_catalog:hover {
	background: #3BC3D3;
	color: black;
}

.caret {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	transition: all .3s ease-out;
	background: no-repeat center center rgba(40, 40, 40, .1) url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.10897 5.27869L4.09692 5.29073L5.26664 6.46045L10.5574 1.16972L9.38766 2.18752e-07L5.27869 4.10897L1.16972 0L0 1.16972L4.10897 5.27869Z' fill='white' style='fill:white;fill-opacity:1;'/%3E%3C/svg%3E%0A");
}

.menu_item_catalog:hover .caret {
	background: no-repeat center center rgba(40, 40, 40, .1) url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.44865 1.18176L6.4607 1.16972L5.29098 -1.4141e-06L0.00021754 5.29073L1.16996 6.46045L5.27893 2.35148L9.3879 6.46045L10.5576 5.29073L6.44865 1.18176Z' fill='black' style='fill:black;fill-opacity:1;'/%3E%3C/svg%3E%0A");
}

.icon_kub {
	width: 32px;
	height: 32px;
	transition: all .3s ease-out;
	background: no-repeat center center url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.46135 1.2693H0.769043V8.96161H8.46135V1.2693Z' fill='%23C40062' style='fill:%23C40062;fill:color(display-p3 0.7686 0.0000 0.3843);fill-opacity:1;'/%3E%3Cpath d='M8.46135 12.0385H0.769043V19.7309H8.46135V12.0385Z' fill='%233BC3D3' style='fill:%233BC3D3;fill:color(display-p3 0.2314 0.7647 0.8275);fill-opacity:1;'/%3E%3Cpath d='M19.2309 1.2693H11.5386V8.96161H19.2309V1.2693Z' fill='%233BC3D3' style='fill:%233BC3D3;fill:color(display-p3 0.2314 0.7647 0.8275);fill-opacity:1;'/%3E%3Cpath d='M19.2309 12.0385H11.5386V19.7309H19.2309V12.0385Z' fill='%23C40062' style='fill:%23C40062;fill:color(display-p3 0.7686 0.0000 0.3843);fill-opacity:1;'/%3E%3C/svg%3E%0A");
}

.menu_item_catalog:hover .icon_kub {
	background: no-repeat center center url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.46135 1.2693H0.769043V8.96161H8.46135V1.2693Z' fill='black' style='fill:black;fill-opacity:1;'/%3E%3Cpath d='M8.46135 12.0385H0.769043V19.7309H8.46135V12.0385Z' fill='black' style='fill:black;fill-opacity:1;'/%3E%3Cpath d='M19.2309 1.2693H11.5386V8.96161H19.2309V1.2693Z' fill='black' style='fill:black;fill-opacity:1;'/%3E%3Cpath d='M19.2309 12.0385H11.5386V19.7309H19.2309V12.0385Z' fill='black' style='fill:black;fill-opacity:1;'/%3E%3C/svg%3E%0A");
}

.main-banner video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-banner {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	margin: -10px 0 100px 0;
	border-bottom: 2px solid #141414;
}

/*________________ui_________________________*/

.cabinet {
	width: 420px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.cabinet p {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	color: white;
	font-weight: 600;
	margin: 0;
}

.mb-4 {
	margin-bottom: 4px!important;
}

.pink {
	color: #C40062;
}

.enter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.enter a {
	color: #505050;
	text-decoration: none;
	transition: all .3s ease-out;
	cursor: pointer;
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	margin: 0;
}

.enter a:hover {
	color: #3BC3D3;
}

.cabinet_wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 24px;
}

.phone {
	width: 420px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.phone p {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-size: 16px;
	margin: 0 24px 0 24px;
	color: white;

}

.phone_button {
	width: 38px;
	height: 38px;
	outline: 2px solid #3BC3D3;
	background: #000 no-repeat center center url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.02222 8.36597C5.62222 11.3532 8.2 13.7915 11.3444 15.3221L13.7889 12.9999C14.0889 12.7149 14.5333 12.6199 14.9222 12.7465C16.1667 13.1371 17.5111 13.3482 18.8889 13.3482C19.5 13.3482 20 13.8232 20 14.4037V18.0876C20 18.6682 19.5 19.1432 18.8889 19.1432C8.45556 19.1432 0 11.1104 0 1.19874C0 0.618188 0.5 0.143188 1.11111 0.143188H5C5.61111 0.143188 6.11111 0.618188 6.11111 1.19874C6.11111 2.51819 6.33333 3.78486 6.74444 4.96708C6.86667 5.33652 6.77778 5.74819 6.46667 6.04374L4.02222 8.36597Z' fill='white' style='fill:white;fill-opacity:1;'/%3E%3C/svg%3E%0A");
	background-size: 14px;
	border-radius: 50%;
	transition: all .3s ease-out;
	cursor: pointer;
}

.phone_button:hover {
	outline: 2px solid #3BC3D3;
    background: #000 no-repeat center center url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_417_7810)'%3E%3Cpath d='M4.02222 8.36585C5.62222 11.3531 8.2 13.7914 11.3444 15.322L13.7889 12.9998C14.0889 12.7148 14.5333 12.6198 14.9222 12.7464C16.1667 13.137 17.5111 13.3481 18.8889 13.3481C19.5 13.3481 20 13.8231 20 14.4036V18.0875C20 18.6681 19.5 19.1431 18.8889 19.1431C8.45556 19.1431 0 11.1103 0 1.19862C0 0.618066 0.5 0.143066 1.11111 0.143066H5C5.61111 0.143066 6.11111 0.618066 6.11111 1.19862C6.11111 2.51807 6.33333 3.78474 6.74444 4.96696C6.86667 5.3364 6.77778 5.74807 6.46667 6.04362L4.02222 8.36585Z' fill='%23C40062' style='fill:%23C40062;fill:color(display-p3 0.7686 0.0000 0.3843);fill-opacity:1;'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_417_7810'%3E%3Crect width='20' height='20' fill='white' style='fill:white;fill-opacity:1;'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");	background-size: 14px;
	background-size: 14px;
	box-shadow: 0px 0px 20px 0px rgba(41, 142, 174, 0.8), 0px 0px 20px 0px rgba(98, 118, 224, 0.2),  0px 0px 20px 0px rgba(98, 118, 224, 0.2),  0px 0px 20px 0px rgba(98, 118, 224, 0.2), 0px 0px 30px 0px rgba(182, 117, 222, 0.4);
}

.user_button {
	width: 38px;
	height: 38px;
	outline: 2px solid #3BC3D3;
	background: #000 no-repeat center center url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.73684 4.73502C3.73684 3.7824 4.13332 2.86881 4.83905 2.19521C5.54478 1.52161 6.50194 1.14319 7.5 1.14319C8.49804 1.14319 9.45521 1.52161 10.1609 2.19521C10.8666 2.86881 11.2631 3.7824 11.2631 4.73502C11.2631 5.68764 10.8666 6.60123 10.1609 7.27483C9.45521 7.94843 8.49804 8.32685 7.5 8.32685C6.50194 8.32685 5.54478 7.94843 4.83905 7.27483C4.13332 6.60123 3.73684 5.68764 3.73684 4.73502ZM7.5 9.95948C5.83052 9.95948 4.25684 10.3121 3.08 11.0044C1.87579 11.6966 1 12.7938 1 14.2044C1 15.1187 1.38315 15.9024 2.06737 16.4378C2.72421 16.9473 3.57263 17.1432 4.42105 17.1432H10.579C11.4137 17.1432 12.2758 16.9473 12.9327 16.4378C13.6168 15.9154 14 15.1317 14 14.2044C14 12.7938 13.1243 11.6966 11.92 11.0044C10.7431 10.3121 9.18315 9.95948 7.5 9.95948Z' fill='white' style='fill:white;fill-opacity:1;'/%3E%3Cpath d='M6.29047 3.58056C5.96969 3.88674 5.78948 4.30202 5.78948 4.73502C5.78948 5.16802 5.96969 5.5833 6.29047 5.88948C6.61126 6.19566 7.04634 6.36767 7.5 6.36767C7.95366 6.36767 8.38873 6.19566 8.70953 5.88948C9.03031 5.5833 9.21052 5.16802 9.21052 4.73502C9.21052 4.30202 9.03031 3.88674 8.70953 3.58056M5.09758 11.2875C4.31757 11.7316 4.00284 12.267 4.00284 12.8156C4.00284 13.1944 4.13968 13.3903 4.30389 13.5209C4.49547 13.6647 4.83758 13.7952 5.37126 13.7952H11.5292C12.0492 13.7952 12.4049 13.6647 12.5965 13.5209C12.7607 13.3903 12.8976 13.2075 12.8976 12.8156C12.8976 12.267 12.5829 11.7316 11.8029 11.2875M3.73684 4.73502C3.73684 3.7824 4.13332 2.86881 4.83905 2.19521C5.54478 1.52161 6.50194 1.14319 7.5 1.14319C8.49805 1.14319 9.45521 1.52161 10.1609 2.19521C10.8666 2.86881 11.2631 3.7824 11.2631 4.73502C11.2631 5.68764 10.8666 6.60123 10.1609 7.27483C9.45521 7.94843 8.49805 8.32685 7.5 8.32685C6.50194 8.32685 5.54478 7.94843 4.83905 7.27483C4.13332 6.60123 3.73684 5.68764 3.73684 4.73502ZM7.5 9.95948C5.83052 9.95948 4.25684 10.3121 3.08 11.0044C1.87579 11.6966 1 12.7938 1 14.2044C1 15.1187 1.38315 15.9024 2.06737 16.4378C2.72421 16.9473 3.57263 17.1432 4.42105 17.1432H10.579C11.4137 17.1432 12.2758 16.9473 12.9327 16.4378C13.6168 15.9154 14 15.1317 14 14.2044C14 12.7938 13.1243 11.6966 11.92 11.0044C10.7431 10.3121 9.18315 9.95948 7.5 9.95948Z' stroke='%23EFF6FF' style='stroke:%23EFF6FF;stroke:color(display-p3 0.9373 0.9647 1.0000);stroke-opacity:1;' stroke-width='0.4375'/%3E%3C/svg%3E%0A");
	background-size: 14px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s ease-out;
}

.user_button:hover {;
	outline: 2px solid #3BC3D3;
    background: #000 no-repeat center center url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_417_7812)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.73684 4.73514C3.73684 3.78252 4.13332 2.86893 4.83905 2.19533C5.54478 1.52173 6.50194 1.14331 7.5 1.14331C8.49804 1.14331 9.45521 1.52173 10.1609 2.19533C10.8666 2.86893 11.2631 3.78252 11.2631 4.73514C11.2631 5.68776 10.8666 6.60135 10.1609 7.27495C9.45521 7.94855 8.49804 8.32697 7.5 8.32697C6.50194 8.32697 5.54478 7.94855 4.83905 7.27495C4.13332 6.60135 3.73684 5.68776 3.73684 4.73514ZM7.5 9.9596C5.83052 9.9596 4.25684 10.3122 3.08 11.0045C1.87579 11.6967 1 12.7939 1 14.2045C1 15.1188 1.38315 15.9025 2.06737 16.4379C2.72421 16.9474 3.57263 17.1433 4.42105 17.1433H10.579C11.4137 17.1433 12.2758 16.9474 12.9327 16.4379C13.6168 15.9155 14 15.1318 14 14.2045C14 12.7939 13.1243 11.6967 11.92 11.0045C10.7431 10.3122 9.18315 9.9596 7.5 9.9596Z' fill='%23C40062' style='fill:%23C40062;fill:color(display-p3 0.7686 0.0000 0.3843);fill-opacity:1;'/%3E%3Cpath d='M6.29047 3.58068C5.96969 3.88686 5.78948 4.30214 5.78948 4.73514C5.78948 5.16814 5.96969 5.58342 6.29047 5.8896C6.61126 6.19578 7.04634 6.36779 7.5 6.36779C7.95366 6.36779 8.38873 6.19578 8.70953 5.8896C9.03031 5.58342 9.21052 5.16814 9.21052 4.73514C9.21052 4.30214 9.03031 3.88686 8.70953 3.58068M5.09758 11.2876C4.31757 11.7317 4.00284 12.2671 4.00284 12.8157C4.00284 13.1945 4.13968 13.3904 4.30389 13.521C4.49547 13.6648 4.83758 13.7953 5.37126 13.7953H11.5292C12.0492 13.7953 12.4049 13.6648 12.5965 13.521C12.7607 13.3904 12.8976 13.2076 12.8976 12.8157C12.8976 12.2671 12.5829 11.7317 11.8029 11.2876M3.73684 4.73514C3.73684 3.78252 4.13332 2.86893 4.83905 2.19533C5.54478 1.52173 6.50194 1.14331 7.5 1.14331C8.49805 1.14331 9.45521 1.52173 10.1609 2.19533C10.8666 2.86893 11.2631 3.78252 11.2631 4.73514C11.2631 5.68776 10.8666 6.60135 10.1609 7.27495C9.45521 7.94855 8.49805 8.32697 7.5 8.32697C6.50194 8.32697 5.54478 7.94855 4.83905 7.27495C4.13332 6.60135 3.73684 5.68776 3.73684 4.73514ZM7.5 9.9596C5.83052 9.9596 4.25684 10.3122 3.08 11.0045C1.87579 11.6967 1 12.7939 1 14.2045C1 15.1188 1.38315 15.9025 2.06737 16.4379C2.72421 16.9474 3.57263 17.1433 4.42105 17.1433H10.579C11.4137 17.1433 12.2758 16.9474 12.9327 16.4379C13.6168 15.9155 14 15.1318 14 14.2045C14 12.7939 13.1243 11.6967 11.92 11.0045C10.7431 10.3122 9.18315 9.9596 7.5 9.9596Z' stroke='%23C40062' style='stroke:%23C40062;stroke:color(display-p3 0.7686 0.0000 0.3843);stroke-opacity:1;' stroke-width='0.4375'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_417_7812'%3E%3Crect width='15' height='18' fill='white' style='fill:white;fill-opacity:1;'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: 14px;
    box-shadow: 0px 0px 20px 0px rgba(41, 142, 174, 0.8), 0px 0px 20px 0px rgba(98, 118, 224, 0.2),  0px 0px 20px 0px rgba(98, 118, 224, 0.2),  0px 0px 20px 0px rgba(98, 118, 224, 0.2), 0px 0px 30px 0px rgba(182, 117, 222, 0.4);
}

.phone_button_zakaz {
	width: auto;
	height: 38px;
	border-radius: 20px;
	padding: 0 20px 0 20px;
	outline: 2px solid #3BC3D3;
	background: #000;
	color: white;
	font-size: 11px;
	letter-spacing: 0.06rem;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all .3s ease-out;
}

.phone_button_zakaz:hover {
	box-shadow: 0px 0px 20px 0px rgba(41, 142, 174, 0.8), 0px 0px 20px 0px rgba(98, 118, 224, 0.2),  0px 0px 20px 0px rgba(98, 118, 224, 0.2),  0px 0px 20px 0px rgba(98, 118, 224, 0.2), 0px 0px 30px 0px rgba(182, 117, 222, 0.4);
}

/*________________slogan________________*/


.wrap-slogan {
	width: 700px;
	height: 200px;
	margin: -430px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 100000000;
	transform: scale(0.89);
}

.slogan {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	font-size: 28px;
	color: white;
	backdrop-filter: blur(14px);
	text-shadow: 0 2px 2px #000;
	border-radius: 12px;
	width: 700px;
	height: 110px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4.89px 20px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4), 0px 4.89px 29.36px 0px rgba(41, 142, 174, 0.8),0px 9.79px 29.36px 0px rgba(98, 118, 224, 0.2),-9.79px -9.79px 24.47px 0px rgba(182, 117, 222, 0.4);
	transition: all .3s ease-out;
	user-select: none;
}

.duration {
	animation-duration: 2s!important;
}

.lead {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.45rem;
	font-size: 11px;
	color: white;
	margin-top: 32px;
	user-select: none;

}
.control__item {
	position: fixed;
	bottom: 50px;
	right: 24px;
	z-index: 900;
}

.control__item .lnk-up {
	background: no-repeat center center rgba(255, 255, 255, .05) url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 2.30762V20.6924M10.5 2.30762L1.30762 11.5M10.5 2.30762L19.6924 11.5' stroke='white' style='stroke:white;stroke-opacity:1;' stroke-width='2'/%3E%3C/svg%3E%0A");
	background-size: 12px;
	width: 60px;
	height: 60px;
	display: block;
	margin: 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	-webkit-transition: margin 300ms ease-in-out;
	-o-transition: margin 300ms ease-in-out;
	transition: margin 300ms ease-in-out;
}
.control__item .lnk-up:hover {
	background: no-repeat center center rgba(255, 255, 255, .1) url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 2.30762V20.6924M10.5 2.30762L1.30762 11.5M10.5 2.30762L19.6924 11.5' stroke='white' style='stroke:white;stroke-opacity:1;' stroke-width='2'/%3E%3C/svg%3E%0A");
	background-size: 12px;
}

.subscribe {
	width: 770px;
	height: 220px;
	margin: -40px auto;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0A0B0A;
    border-radius: 10px;
    box-shadow: 0px 0px 49px 0px #000;
    padding: 30px 62px 40px 62px;
    transition: all .3s ease-out;
}

.subscribe h3 {
	color: white;
	text-transform: none;
	margin-top: 0;
	font-size: 22px;
}

.flex_wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}